In [1]:
# TEST necessary for when working with external scripts
%load_ext autoreload
%autoreload 2

Import Library

In [1]:
import pandas as pd
import numpy as np

Data Preparation (Load Dataset)

In [2]:
data = pd.read_csv('Nostalgic_Sentiment_Analysis_of_YouTube_Comments_Data.csv')

In [3]:
data.head()

       sentiment                                            comment
0  not nostalgia  He was a singer with a golden voice that I lov...
1      nostalgia  The mist beautiful voice ever I listened to hi...
2      nostalgia  I have most of Mr. Reeves songs.  Always love ...
3  not nostalgia  30 day leave from 1st tour in Viet Nam to conv...
4      nostalgia  listening to his songs reminds me of my mum wh...

In [4]:
data.tail()

          sentiment                                            comment
1495  not nostalgia  i don't know!..but the opening of the video,.....
1496  not nostalgia  it's sad this is such a beautiful song when yo...
1497  not nostalgia  Dear Friend, I think age and time is not that ...
1498      nostalgia  I was born in 1954 and started to be aware of ...
1499      nostalgia  This is the first CD I bought after my marriag...

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  1500 non-null   object
 1   comment    1500 non-null   object
dtypes: object(2)
memory usage: 23.6+ KB

In [7]:
data.describe()

            sentiment                                            comment
count            1500                                               1500
unique              2                                               1499
top     not nostalgia  never heard this song before... WOW What an am...
freq              750                                                  2

In [11]:
data.shape

(1500, 2)

In [ ]:
#Converting Dictionary into Pandas Dataframe

In [22]:
#Data Cleaning
data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       sentiment  comment
0         False    False
1         False    False
2         False    False
3         False    False
4         False    False
...         ...      ...
1495      False    False
1496      False    False
1497      False    False
1498      False    False
1499      False    False

[1500 rows x 2 columns]>

In [23]:
sum(data.duplicated())

1

In [24]:
data = data.drop_duplicates()

In [25]:
sum(data.duplicated())

0

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 0 to 1499
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  1499 non-null   object
 1   comment    1499 non-null   object
dtypes: object(2)
memory usage: 35.1+ KB

In [19]:
#Data Transformation

Data Transformation
Converting Dictionary into Pandas dataframe
Familiarizing yourself with the Data

In [12]:
data['category'] = data['sentiment'].map({'not nostalgia': 0, 'nostalgia': 1})

In [13]:
data['category_name'] = data['sentiment']

In [14]:
print(data.head(10))

       sentiment                                            comment  category  \
0  not nostalgia  He was a singer with a golden voice that I lov...         0
1      nostalgia  The mist beautiful voice ever I listened to hi...         1
2      nostalgia  I have most of Mr. Reeves songs.  Always love ...         1
3  not nostalgia  30 day leave from 1st tour in Viet Nam to conv...         0
4      nostalgia  listening to his songs reminds me of my mum wh...         1
5      nostalgia  Every time I heard this song as a child, I use...         1
6      nostalgia  My dad loved listening to Jim Reeves, when I w...         1
7      nostalgia  i HAVE ALSO LISTENED TO Jim Reeves since child...         1
8  not nostalgia           Wherever you  are you always in my heart         0
9  not nostalgia  Elvis will always be number one no one can com...         0

   category_name
0  not nostalgia
1      nostalgia
2      nostalgia
3  not nostalgia
4      nostalgia
5      nostalgia
6      nostalgia
7      nostalgia
8  not nostalgia
9  not nostalgia

Data Mining using Pandas
Dealing with Missing Values
Dealing with Duplicate Data